body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: #f4f6f9;
}
.sidebar {
    width: 220px;
    background: #0a4d8c;
    color: white;
    height: 100vh;
    padding: 20px;
}
.sidebar h2 {
    text-align: center;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.sidebar li:hover {
    background: #083a6b;
}
.main {
    flex: 1;
    padding: 30px;
}
.cards {
    display: flex;
    gap: 20px;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.card p {
    font-size: 28px;
    font-weight: bold;
    color: #0a4d8c;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 20px;
}
form input, 
form select {
    padding: 8px;
}
form button {
    grid-column: span 2;
    padding: 10px;
    background: #0a4d8c;
    color: white;
    border: none;
    cursor: pointer;
}
table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}
table th, 
table td {
    padding: 10px;
    border: 1px solid #ddd;
}
table th {
    background: #0a4d8c;
    color: white;
}
table td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
table button {
    background: #0a4d8c;
    color: white;
    border: 1px solid #d3d3d3;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

table button:hover {
    background: #083a6b;
}

#cadastro button {
    background: #0a4d8c;
    color: white;
    border: 1px solid #d3d3d3;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}
#cadastro button:hover {
    background: #083a6b;
}
/* ===== SELECT FILTRO PADRÃO BOTÕES ===== */
#filtro {
    background: #0a4d8c;
    color: white;
    border: 1px solid #d3d3d3;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.3s;
}
#filtro:hover {
    background: #083a6b;
}
#filtro option {
    background: white;
    color: black;
}