* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    flex: 1;
    padding: 45px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
html, body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: #f1f5f9;
    color: black;
}
body {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    background: black;
    color: white;
    padding: 35px 25px;
    box-shadow: 4px 0 20px rgba(0,0,0,0.1);
    width: 270px;
    min-width: 270px;
    max-width: 270px;
    flex: 0 0 270px;
}

@media (max-width: 900px) {

    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        flex: none;
    }
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 15px 18px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 12px;
    transition: 0.3s ease;
    font-weight: 500;
}
.main {
    flex: 1;
    padding: 45px;
}
h1 {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: 600;
    color: black;
    text-align: center;
}
h2 {
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: 600;
    color: black;
    text-align: center;
}
.lista-medicos {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


form {
    background: white;
    padding: 15px;
    border-radius: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    color: black;
    margin-bottom: 45px;
}

form input,
form select {
    padding: 15px;
    border-radius: 14px;
    box-shadow: 5px 5px 10px black;
    color: black;
    border: none;
    font-size: 14px;
    transition: 0.2s ease;
}

form input:focus,
form select:focus {
    border-color: black;
    color: black;
    outline: none;
    box-shadow: 5px 5px 10px black;
    transform: translateY(-3px);
}

.linha-nome-foto {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

#campoEspecialidade {
    grid-column: 1 / -1;
}

.btn-file {
    background: black;
    color: white;
    padding: 15px 20px;
    border-radius: 14px;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

.btn-file:hover {
    box-shadow: 5px 5px 10px black;
}

form button {
    grid-column: 1 / -1;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background: black;
    box-shadow: 5px 5px 10px black;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px black;
}


.lista-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.prof-card {
    background: white;
    padding: 25px 30px;
    border-radius: 24px;
    box-shadow: 5px 5px 10px black;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: 0.3s ease;
}

.prof-card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px black;
}

.foto-profissional {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 10px black;
    flex-shrink: 0;
}
.prof-card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #0f172a;
}


.acoes-card {
    display: flex;
    gap: 10px;
}

.acoes-card button {
    background: #f1f5f9;
    border: none;
    box-shadow: 5px 5px 10px black;
    padding: 10px 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.acoes-card button:hover {
    background: black;
    box-shadow: 5px 5px 10px black;
    color: white;
}

.prof-card.inativo {
    opacity: 0.55;
    filter: grayscale(20%);
}


.paginacao {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.paginacao button {
    padding: 12px 20px;
    border-radius: 14px;
    border: none;
    background: black;
    box-shadow: 5px 5px 10px black;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.paginacao button:hover {
    transform: translateY(-2px);
}
.paginacao button:disabled {
    background: #cbd5e1;
    cursor: not-allowed;
}


@media (max-width: 1000px) {

    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }

    form {
        grid-template-columns: 1fr;
    }

    .prof-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .acoes-card {
        margin-top: 15px;
    }

    .card {
        width: 100%;
    }

}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px white inset, 5px 5px 10px grey;
    -webkit-text-fill-color: black;
}
.filtros-container {
    display: flex;
    gap: 15px;
    border: none;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.filtros-container select {
    width: 220px;
    height: 45px;
    padding: 0 14px;
    border-radius: 12px;
    border: none;
    background: white;
    box-shadow: 5px 5px 10px black;
    font-size: 14px;
}
::placeholder { color: black; opacity: 1; }
::-webkit-input-placeholder { color: black; }
:-ms-input-placeholder { color: black; }
::-ms-input-placeholder { color: black; }